00_data
01_demucs
02_data_augment
03_data_preprocessing/instrumental
03_data_preprocessing/voice
04_extracted_notes
05_humanise_notes
venv
.python-version
wandb
msldm_voice2instrumental
checkpoints
output